[submodule "wasabi"]
	path = wasabi
	url = https://github.com/danleh/wasabi.git
[submodule "polybench"]
	path = polybench
	url = https://github.com/Meinersbur/polybench.git
[submodule "pywasm"]
	path = pywasm
	url = https://github.com/mohanson/pywasm.git
[submodule "wabt"]
	path = wabt
	url = https://github.com/WebAssembly/wabt
